
/* Sección Cuadro Inicio */

#inicio{
    background: url("Imagenes/Fondo\ Azul.png");
    background-size: cover;
    background-position: center center;
}

.cuadroMenuInicio{
    position: fixed;
    width: 1080px;
    height: 60px;
    margin: auto;
    background: linear-gradient(#2980b9, 70%, black);
    padding: 10px 20px; */
    z-index: 1;
}

#inicio .cuadroMenuInicio, ul {
    display: flex;
    list-style: none;
    align-items: center;
    width: 80%;
    z-index: 2;
}

#inicio .cuadroMenuInicio, li {
    width: 100%;
}

#inicio a {
    border: none;
    background-color: transparent;
    color: white;
    font-size: 25px;
    font-family: sans-serif; 
    align-items: center;
    text-decoration: none;
    
}

#inicio .contenido header .contenido-header .seleccionado {
    color: #ff5080;
}
.cuadroSocialMedia{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin: 20px 30px 0 auto;
}

.img_SocialMedia{
    display: flex;
    width: 35px;
    height: 35px;
    margin: 5px;

}

/* Sección Bienvenida */

.cuadroBienvenida{
    position: relative;
    margin-left: 0;
    margin-top: 0;
    height: 900px;
} 

.cuadroTitulosInicio{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.inicioTitulo1{
    display: flex;
    margin-top: 300px;
    position: relative;
    font-size: 70px;
    font-family:'Franklin Gothic Medium';
    color: white;
    text-shadow: -5px 5px 10px gray;
}

.inicioTitulo2{
    display: flex;
    position: relative;
    margin-top: 20px;
    font-size: 55px;
    font-family: 'Amasis MT W01 italic', Helvetica;
    font-style: italic;
    color: black;
    text-shadow: -5px 5px 10px gray;
}

.inicioTitulo3{
    display: flex;
    position: relative;
    padding: 30px;
    font-size: 50px;
    font-family: Helvetica;
    color: white;
    text-shadow: -5px 5px 10px gray;
}

/* Sección Conoce Sobre mi */

#conocesobremi{
    background: url("Imagenes/Fondo\ Negro.png");
    background-size: cover;
    background-position: center center;
}

.cuadroPrincipalConoce{
    display: flex;
    justify-content: center;
    align-items:center;
    position: relative;
    margin-left: 0;
    margin-top: 0;
    height: 900px;
}
.textoContainer{
    display: flex;
    flex-direction: column;
}

.img_Foto{
    /* display: flex; */
    width: 300px;
    height: 500px;
    position: relative;
    margin-left: 300px;
    margin-top: 100px;
    margin-right: 50px;
    object-fit: contain;
    padding: 0px;
}

.inicioTitulo1_Conoce{
    display: flex;
    position: relative;
    margin-top: 60px;
    margin-right: 400px;
    font-size: 55px;
    font-family: Helvetica;
    font-style: italic;
    color: white;
    text-shadow: -5px 5px 10px gray;
}
.textoMensaje{
    display: flex;
    position: relative;
    margin-top: 60px;
    margin-right: 400px;
    font-size: 20px;
    font-family: Helvetica;
    font-style: italic;
    color: lightskyblue
    text-shadow: -5px 5px 10px gray;
}

.Pregunta{
    display: flex;
    position: relative;
    margin-bottom: 5px;
    font-size: 25px;
    font-family: Helvetica;
    color: white;
}

.Respuesta{
    display: flex;
    position: relative;
    margin-left: 30px;
    margin-right: 400px;
    margin-bottom: 10px;
    font-size: 20px;
    font-family: Helvetica;
    font-style: italic;
    color: rgb(49, 158, 194);
}

.lista_Habilidades{
    display: list-item;
    position: relative;
    margin-right: 400px;
    margin-bottom: 0px;
    list-style: inside;
    list-style-position:outside;
    font-size: 20px;
    font-family: Helvetica;
    font-style: italic;
    color: rgb(49, 158, 194);
}

.item_Habilidades{
    padding: 2px;
}

/* Sección Proyectos */

#proyectos{
    background: url("Imagenes/Fondo\ Gris.png");
    background-size: cover;
    background-position: center center;
}

.cuadroPrincipalProyectos{
    display: flex;
    justify-content: center;
    align-items:center;
    position: relative;
    margin-left: 0;
    margin-top: 0;
    height: 900px;
}

.Proyectos {
    /* width: 1000px;
    height: 500px;
    border: 5px solid black; */
    padding: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 30px 20px;
}

.Proyecto_Item{
    width: 330px;
    height: 300px;
    border: 5px solid lightgreen;
}

.Proyecto_Item img{
    width: 100%;
}

#proyectos a {
    border: none;
    background-color: transparent;
    color: blue;
    font-size: 17px;
    font-family: sans-serif; 
    align-items: center;
    text-decoration: none;
    
}

.ProyectosTitulo{
    display: flex;
    margin-left: 300px;
    position: relative;
    font-size: 70px;
    font-family:'Franklin Gothic Medium';
    color: blue;
    text-shadow: -5px 5px 10px gray;
}


#contactame{
    background: url("Imagenes/Fondo\ Negro.png");
    background-size: cover;
    background-position: center center;
}

.cuadroPrincipalContactame{
    display: flex;
    justify-content: center;
    align-items:center;
    position: relative;
    margin-left: 0;
    margin-top: 0;
    height: 900px;

}